<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>GreetServlet</display-name>
    <servlet-name>GreetServlet</servlet-name>
    <servlet-class>web.servlet.config.GreetServlet</servlet-class>
    
    <!-- 컨테이너 차원의 초기화 값 매칭 -->
    <init-param>
    	<param-name>GREET</param-name>
    	<param-value>Hello Welcome to Olymphic Games...</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetServlet</servlet-name>
    <url-pattern>/GS</url-pattern>
  </servlet-mapping>
</web-app>